# Exclude everything
**

# Include Dockerfile and docker-compose
!Dockerfile
!docker-compose.yml

# Include Python application files
!*.py

# Include requirements files
!requirements*.txt

# Include script
!*.sh
